
.hero-cover {
    background-image: url('/design/index-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #0f0f0f;
}

.hero-subtitle {
    text-shadow: 0px 0px 21px #e5e7eb;
}
