
.hero-cover {
    background: linear-gradient(rgba(15, 15, 15, 0.7), rgba(15, 15, 15, 0.7)), 
        url('/design/index-background.jpg');
    background-attachment: fixed;    
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}
