---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Button from '../components/ui/Button.astro';
---

<Layout title="Mateus José - Product Designer">
	<main>
		<section class="h-screen flex items-center justify-center">
			<div class="text-center">
				<h1 class="text-6xl font-bold mb-6">
				  Product Designer
				</h1>
				<p class="text-xl mb-8 max-w-2xl mx-auto">
					Invento soluções que simplificam o complexo e conectam pessoas com propósito.
				</p>
				<Button href="#projects">
					Veja meus trabalhos
				</Button>
			</div>
		</section>

		<About />
		<Projects />
		<Contact />
	</main>
</Layout>